
<div layout="row" style="padding:1%;">
    <div flex="20">
        <md-input-container>
            <label>Modelo</label>
            <md-select ng-model="modelo" ng-change="configModeloVista(modelo)">
                <md-option ng-repeat="e in modelos track by $index">{{e.nombre}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="20">
        <md-input-container>
            <label>Encuesta</label>
            <md-select ng-model="encuesta" ng-change="">
                <md-option ng-repeat="e in encuestas track by $index">{{e.nombre}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
<md-divider></md-divider>
<div layout="row" style="padding:1%;">
    <div flex="20">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Menú</span>
            </h2>
        </md-toolbar>
        <md-list ng-cloak class="primary">
            <md-list-item ng-click="menu='NC'">
                Nueva Carga
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="menu='NCV'">
                Nueva Carga Vista
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="menu='VI'">
                Visualizador
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="menu='CA'">
                Consultar carga anterior
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="menu='CvE'">
                Validar carga vs Excel
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="menu='CvV'">
                Validar carga vs Vista
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
    <div id="CA" ng-show="menu=='CA'">
        <div flex>
            <div layout="row" style="padding:1%;">
                <div flex="20">
                    <md-input-container>
                        <label>Versión</label>
                        <md-select ng-model="version">
                            <md-option value="1.0">V1.0</md-option>
                            <md-option value="1.1">V1.1</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" style="padding:1%;" id="CA">
                <div flex="40">
                    <span>{{selected | json}}</span>
                    <h3>Configuración de la vista:</h3>
                    <md-content flex layout-padding style="height:300px; padding-left:2%;">
                        <md-list ng-cloak>
                            <md-list-item ng-repeat="c in campos track by $index" ng-click="toggle(c, selected)">
                                <p> {{c.nombre}} </p>
                                <md-checkbox class="md-secondary" ng-checked="exist(c,selected)"></md-checkbox>
                            </md-list-item>
                        </md-list>
                        </md-content>
                    </div>
                <div flex style="padding-left:3%;">
                    <h3>Información</h3>
                    <div layout="row">
                        <div flex>
                            <h4>Título</h4>
                            <p>Actualización de Enero</p>
                            <md-divider></md-divider>
                            <h4>Descripción</h4>
                            <p>Actualización de Enero sdfghjertyudfghjfghj</p>
                        </div>
                        <div flex>
                            <h4>Responsable de esta version</h4>
                            <p>Luis Ernesto Torres Herrera</p>
                            <md-divider></md-divider>
                            <h4>Estatus de la versión</h4>
                            <p class="warn">no esta terminada</p>
                            <md-divider></md-divider>
                            <label>archivo de liberación</label>
                            <input type="file" name="name" value=" " />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="NC" ng-show="menu=='NC'" ng-controller="NCCtrl" style="width:100%;">
        <div>
            <div layout="row">
                <div>
                    
                    <input class="ng-hide" id="fileSearch"  type="file" onchange="angular.element(this).scope().NotePath()" ng-model="filePath" placeholder="" />
                    <label for="fileSearch" class="md-button md-raised md-primary">Buscar Archivo</label>
                    {{filePath}}
                </div >
                <div style="width:100%">
                    <input type="text" id="filepath" name="name" ng-model="pathShort" style="width:100%; min-height:36px;margin:6px 8px" />
                </div>
            </div>
            <div layout="row">
                <div class="alert">
                    <strong>Error: </strong>Por favor ingrese una direccion valida
                </div>
            </div>
            <div layout="row">
                <div class="text-center" flex="100">
                    <md-button type="button" class="md-raised md-primary" ng-click="fnBringTable()">Vista previa</md-button>
                </div>
            </div>

            <div layout="row">
                <div  flex="100">
                    <div id="tableContainer" class="row text-center" hidden>
                        <table class="table-au">
                            <tr ng-repeat="x in data track by $index">
                                <td ng-repeat="i in x.data track by $index">{{i}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div class="text-center" flex="100">
                    <md-button type="button" class="md-raised md-primary" ng-click="fnValidate()">Validar</md-button>
                </div>
            </div>
            <!--<div layout="row">
                <div class="alert alert-danger" ng-show="path==''"></div>

                <div class="row text-center">
                    <button type="button" class="btn btn-primary" ng-click="fnBringTable()">Vista previa</button>
                </div>

                

                <div class="row text-center">
                    <button type="button" class="btn btn-primary" ng-click="fnValidate()">Validar</button>
                </div>
            </div>-->
          

        </div>
    </div>



    <div id="NCV" ng-show="menu=='NCV'" ng-controller="NCVCtrl">
        <div layout="row">
            <div flex="50">
                <md-input-container>
                    <label>Catalogos</label>
                    <md-select ng-model="catalogoV1" ng-change="">
                        <md-option ng-repeat="c in catalogos track by $index">{{c.nombre}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="100">
                <md-input-container>
                    <label>Tabla trabajo</label>
                    <md-select ng-model="catalogoV2" >
                        <md-option ng-if="d.T_trabajo !=''" ng-repeat="d in catalogos ">{{d.T_trabajo}}</md-option>
                       
                    </md-select>
                </md-input-container>
            </div>
            </div>
        <div layout="row">
            <div layout="row">
                <div class="text-center" flex="100">
                    <md-button type="button" class="md-raised md-primary" ng-click="validaVista(catalogoV1,catalogoV2)">Validar</md-button>
                </div>
            </div>
        </div>
    </div>
</div>